<div class="wrapper">
  <div class="body">
    <img
      class="logo"
      src="https://raw.githubusercontent.com/Manuel486/Store_Mega/main/images/logo.png"
    />
    <form (ngSubmit)="registrar()" [formGroup]="registrarUsuario">
      <mat-form-field class="ancho" appearance="fill">
        <mat-label>Email</mat-label>
        <input
          matInput
          autocomplete="off"
          formControlName="email"
          type="email"
        />
      </mat-form-field>
      <mat-form-field class="ancho" appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input
          matInput
          autocomplete="off"
          formControlName="password"
          type="password"
        />
      </mat-form-field>
      <mat-form-field class="ancho" appearance="fill">
        <mat-label>Repetir contraseña</mat-label>
        <input
          matInput
          autocomplete="off"
          formControlName="repetirPassword"
          type="password"
        />
      </mat-form-field>
      <br />
      <button
        class="ancho mb-3"
        mat-raised-button
        color="primary"
        type="submit"
      >
        Registrarse
      </button>
      <a class="letra-registro" routerLink="/login">Volver</a>
    </form>
  </div>
</div>
