<div class="wrapper">
  <div class="body">
    <img
      class="logo"
      src="https://raw.githubusercontent.com/Manuel486/Store_Mega/main/images/logo.png"
    />
    <form>
      <mat-form-field class="ancho" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput autocomplete="off" type="email" />
      </mat-form-field>
      <mat-form-field class="ancho" appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput autocomplete="off" type="password" />
      </mat-form-field>
      <br />
      <button class="ancho" mat-raised-button color="primary">Ingresar</button>
      <p class="mt-3 letra-login">
        ¿No tienes una cuenta?
        <a routerLink="/registrar-usuario">Registrarse</a>
      </p>
      <a class="mt-3" routerLink="/recuperar-password">Recuperar contraseña</a>
    </form>
  </div>
</div>
